@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");
.clr-dark {
  color: #121f27 !important; }

.clr-gray {
  color: #bbbbbb !important; }

.clr-light {
  color: #ffffff !important; }

.clr-purple {
  color: #7f4fff !important; }

.clr-red {
  color: #ff0505 !important; }

.bg-clr-dark {
  background-color: #121f27 !important; }

.bg-clr-gray {
  background-color: #bbbbbb !important; }

.bg-clr-light {
  background-color: #ffffff !important; }

.bg-clr-purple {
  background-color: #7f4fff !important;
  color: #ffffff !important; }

.bg-clr-red {
  background-color: #ff0505 !important; }

@media (min-width: 500px) {
  .sm-hide {
    display: none; } }

@media (min-width: 1025px) {
  .md-hide {
    display: none; } }

@media (min-width: 1025px) {
  .lg-hide {
    display: none; } }

@media (min-width: 2000px) {
  .xl-hide {
    display: none; } }

@media (min-width: 500px) {
  .sm-hide {
    display: none; } }

@media (min-width: 1025px) {
  .md-hide {
    display: none; } }

@media (min-width: 1025px) {
  .lg-hide {
    display: none; } }

@media (min-width: 2000px) {
  .xl-hide {
    display: none; } }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: #000;
  /* fallback for old browsers */
  cursor: default !important; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.page {
  height: 100%; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media (min-width: 1025px) {
  .page {
    padding-top: 0px; } }

@media (min-width: 500px) {
  .sm-hide {
    display: none; } }

@media (min-width: 1025px) {
  .md-hide {
    display: none; } }

@media (min-width: 1025px) {
  .lg-hide {
    display: none; } }

@media (min-width: 2000px) {
  .xl-hide {
    display: none; } }

.clr-dark {
  color: #121f27 !important; }

.clr-gray {
  color: #bbbbbb !important; }

.clr-light {
  color: #ffffff !important; }

.clr-purple {
  color: #7f4fff !important; }

.clr-red {
  color: #ff0505 !important; }

.bg-clr-dark {
  background-color: #121f27 !important; }

.bg-clr-gray {
  background-color: #bbbbbb !important; }

.bg-clr-light {
  background-color: #ffffff !important; }

.bg-clr-purple {
  background-color: #7f4fff !important;
  color: #ffffff !important; }

.bg-clr-red {
  background-color: #ff0505 !important; }

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 45px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #43c6ac;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #191654, #43c6ac);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #191654, #43c6ac);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .header li {
    margin-right: 50px;
    display: inline-block; }
    .header li a {
      color: white;
      font-size: 14px;
      text-decoration: none; }
    .header li a:hover {
      text-shadow: 2px 2px black; }
  .header__menu {
    flex-direction: row;
    justify-content: space-around; }
  @media (min-width: 500px) {
    .header li a {
      font-size: 24px; } }

@media (min-width: 500px) {
  .sm-hide {
    display: none; } }

@media (min-width: 1025px) {
  .md-hide {
    display: none; } }

@media (min-width: 1025px) {
  .lg-hide {
    display: none; } }

@media (min-width: 2000px) {
  .xl-hide {
    display: none; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.8; }
  50% {
    -webkit-transform: scale(1.1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.8; } }

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8; }
  50% {
    transform: scale(1.1);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0.8; } }

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  background: #322f30;
  -webkit-font-smoothing: antialiased; }

.hero-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

.hero-image {
  width: 100vw;
  height: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center; }

.hero-children {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.banner-image {
  background: url("../assets/banner.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center; }

.more__info__badge {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px;
  font-size: 20px;
  align-self: flex-end;
  -webkit-animation: pulse 3s infinite ease-in-out;
  -o-animation: pulse 3s infinite ease-in-out;
  -ms-animation: pulse 3s infinite ease-in-out;
  -moz-animation: pulse 3s infinite ease-in-out;
  animation: pulse 3s infinite ease-in-out; }

h2.section__header {
  color: white;
  font-size: 36px; }

.section__content__wrapper {
  justify-content: center;
  align-items: 'center'; }

p.section__content {
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 1px black; }

.contact-card {
  width: 300px;
  height: 100%;
  padding: 40px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center; }

.about__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3; }

.music__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3; }

.gallery__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3; }

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  color: white;
  z-index: 3; }

.bio-card {
  width: 100%;
  padding: 5%;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column; }

.photo__img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(0.25px) scale(0.75) translateX(134%) translateY(20%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7); }

.photo__img:last-of-type {
  transform: translateZ(0.4px) scale(0.6) translateX(75%) translateY(60%) rotate(-15deg); }

a {
  text-decoration: none;
  color: #fff; }

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1% 0 1% 0; }

._12 {
  font-size: 1.2em; }

._14 {
  font-size: 1.4em; }

ul {
  padding: 0;
  list-style: none; }

.footer-social-icons {
  width: 350px;
  display: block;
  margin: 0 auto; }

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  width: 100%; }

.social-icon {
  color: #fff; }

ul.social-icons {
  margin-top: 10px; }

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px; }

.social-icons a {
  color: #fff;
  text-decoration: none;
  margin-right: 5px; }

.fa {
  font-size: 20px;
  border-radius: 3px; }

.fa-facebook {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30; }

.fa-facebook:hover {
  background-color: #3d5b99; }

.fa-instagram {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #322f30; }

.fa-instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }

.fa-twitter {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30; }

.fa-twitter:hover {
  background-color: #00aced; }

.fa-rss {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30; }

.fa-rss:hover {
  background-color: #eb8231; }

.fa-youtube {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30; }

.fa-youtube:hover {
  background-color: #e64a41; }

.fa-linkedin {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30; }

.fa-linkedin:hover {
  background-color: #0073a4; }

.fa-google-plus {
  padding: 10px 9px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30; }

.fa-google-plus:hover {
  background-color: #e25714; }

.cont {
  position: relative;
  height: 100vh;
  overflow-x: hidden; }

.slider {
  position: relative;
  height: 100%;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  cursor: all-scroll;
  user-select: none; }
  .slider.animation {
    transition: transform 1000ms ease-in-out; }
    .slider.animation .slide__darkbg {
      transition: transform 1000ms ease-in-out; }
    .slider.animation .slide__text {
      transition: transform 1000ms ease-in-out; }
    .slider.animation .slide__letter {
      transition: transform 1000ms ease-in-out; }

.slide {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  .slide--1 {
    left: 0%; }
  .slide--2 {
    left: 100%; }
  .slide--3 {
    left: 200%; }
  .slide--4 {
    left: 300%; }
  .slide--5 {
    left: 400%; }
  .slide__darkbg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    z-index: 10; }
  .slide__text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 15; }
  .slide__letter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-text-fill-color: rgba(0, 0, 0, 0.1) !important;
    -webkit-background-clip: text !important;
    font-size: 50vw;
    font-weight: 800;
    color: #000;
    z-index: 2;
    will-change: transform;
    user-select: none; }
  .slide__text {
    font-size: 8vw;
    font-weight: 800;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    letter-spacing: 12px;
    color: #fff;
    will-change: transform;
    user-select: none;
    text-shadow: 2px 2px black;
    text-align: center; }
    .slide__text--2--name {
      letter-spacing: 25px; }
  .slide__text:nth-child(odd) {
    z-index: 2; }
  .slide__text:nth-child(even) {
    z-index: 2; }
  .slide--1__darkbg {
    left: 0%;
    background: url("../assets/Old_Sport_38.jpg") center center no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate3d(0, 0, 0);
    will-change: transform; }
    .slide--1__darkbg:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75); }
  .slide--1__letter {
    background: url("../assets/Old_Sport_38.jpg") center center no-repeat;
    background-position: center;
    background-size: contain; }
  .slide--2__letter {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.85) !important; }
  .slide--3__darkbg:after {
    background-color: rgba(250, 250, 250, 0.1); }
  .slide--4__darkbg:after {
    background-color: rgba(250, 250, 250, 0.15); }
  .slide--5__darkbg {
    background-size: contain;
    background-position: center; }
    .slide--5__darkbg:after {
      background-color: transparent;
      background-color: rgba(75, 75, 75, 0.35); }
  .slide--5__letter {
    background-size: contain;
    background-position: center; }
    .slide--5__letter:after {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Old_Sport_14.jpg"); }
  .slide--2__darkbg {
    left: -50%;
    background: url("../assets/Old_Sport_19.jpg") center center no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate3d(0, 0, 0);
    will-change: transform; }
    .slide--2__darkbg:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75); }
  .slide--2__letter {
    background: url("../assets/Old_Sport_19.jpg") center center no-repeat;
    background-position: center;
    background-size: contain; }
  .slide--2__letter {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.85) !important; }
  .slide--3__darkbg:after {
    background-color: rgba(250, 250, 250, 0.1); }
  .slide--4__darkbg:after {
    background-color: rgba(250, 250, 250, 0.15); }
  .slide--5__darkbg {
    background-size: contain;
    background-position: center; }
    .slide--5__darkbg:after {
      background-color: transparent;
      background-color: rgba(75, 75, 75, 0.35); }
  .slide--5__letter {
    background-size: contain;
    background-position: center; }
    .slide--5__letter:after {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Old_Sport_14.jpg"); }
  .slide--3__darkbg {
    left: -100%;
    background: url("../assets/Old_Sport_32.jpg") center center no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate3d(0, 0, 0);
    will-change: transform; }
    .slide--3__darkbg:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75); }
  .slide--3__letter {
    background: url("../assets/Old_Sport_32.jpg") center center no-repeat;
    background-position: center;
    background-size: contain; }
  .slide--2__letter {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.85) !important; }
  .slide--3__darkbg:after {
    background-color: rgba(250, 250, 250, 0.1); }
  .slide--4__darkbg:after {
    background-color: rgba(250, 250, 250, 0.15); }
  .slide--5__darkbg {
    background-size: contain;
    background-position: center; }
    .slide--5__darkbg:after {
      background-color: transparent;
      background-color: rgba(75, 75, 75, 0.35); }
  .slide--5__letter {
    background-size: contain;
    background-position: center; }
    .slide--5__letter:after {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Old_Sport_14.jpg"); }
  .slide--4__darkbg {
    left: -150%;
    background: url("../assets/_DSC3855.jpg") center center no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate3d(0, 0, 0);
    will-change: transform; }
    .slide--4__darkbg:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75); }
  .slide--4__letter {
    background: url("../assets/_DSC3855.jpg") center center no-repeat;
    background-position: center;
    background-size: contain; }
  .slide--2__letter {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.85) !important; }
  .slide--3__darkbg:after {
    background-color: rgba(250, 250, 250, 0.1); }
  .slide--4__darkbg:after {
    background-color: rgba(250, 250, 250, 0.15); }
  .slide--5__darkbg {
    background-size: contain;
    background-position: center; }
    .slide--5__darkbg:after {
      background-color: transparent;
      background-color: rgba(75, 75, 75, 0.35); }
  .slide--5__letter {
    background-size: contain;
    background-position: center; }
    .slide--5__letter:after {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Old_Sport_14.jpg"); }
  .slide--5__darkbg {
    left: -200%;
    background: url("../assets/Old_Sport_14.jpg") center center no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate3d(0, 0, 0);
    will-change: transform; }
    .slide--5__darkbg:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75); }
  .slide--5__letter {
    background: url("../assets/Old_Sport_14.jpg") center center no-repeat;
    background-position: center;
    background-size: contain; }
  .slide--2__letter {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.85) !important; }
  .slide--3__darkbg:after {
    background-color: rgba(250, 250, 250, 0.1); }
  .slide--4__darkbg:after {
    background-color: rgba(250, 250, 250, 0.15); }
  .slide--5__darkbg {
    background-size: contain;
    background-position: center; }
    .slide--5__darkbg:after {
      background-color: transparent;
      background-color: rgba(75, 75, 75, 0.35); }
  .slide--5__letter {
    background-size: contain;
    background-position: center; }
    .slide--5__letter:after {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Old_Sport_14.jpg"); }

.nav {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  z-index: 10; }
  .nav__slide {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    cursor: pointer; }
    @media screen and (max-width: 400px) {
      .nav__slide {
        width: 22px;
        height: 22px; } }
    .nav__slide:hover:after {
      transform: translate(-50%, -50%) scale(1, 1);
      opacity: 1; }
    .nav__slide:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0, 0);
      width: 75%;
      height: 75%;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      transition: 300ms; }
    .nav__slide--1 {
      margin-left: 0; }

.nav-active:after {
  transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1; }

.side-nav {
  position: absolute;
  width: 5%;
  height: 100%;
  top: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: 300ms;
  display: none;
  align-items: center;
  justify-content: center; }
  .side-nav span {
    font-size: 36px;
    color: white; }
  .side-nav:hover {
    opacity: .3; }
  .side-nav--right {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eed7ff 100%); }
  .side-nav--left {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #eed7ff 100%); }

@media (min-width: 768px) {
  .music__container {
    padding: 5%; }
  .bio-card {
    height: 100vh; }
    .bio-card .section__content {
      font-size: 2vw;
      margin: 0;
      padding: 0; }
  .side-nav {
    display: flex; }
  .slide--1__darkbg {
    background-size: cover; }
  .slide--1__letter {
    background-size: cover; }
  .slide--5__darkbg {
    background-size: cover;
    background-position: center top; }
  .slide--5__letter {
    background-size: cover;
    background-position: center top; }
  .slide--2__darkbg {
    background-size: cover; }
  .slide--2__letter {
    background-size: cover; }
  .slide--5__darkbg {
    background-size: cover;
    background-position: center top; }
  .slide--5__letter {
    background-size: cover;
    background-position: center top; }
  .slide--3__darkbg {
    background-size: cover; }
  .slide--3__letter {
    background-size: cover; }
  .slide--5__darkbg {
    background-size: cover;
    background-position: center top; }
  .slide--5__letter {
    background-size: cover;
    background-position: center top; }
  .slide--4__darkbg {
    background-size: cover; }
  .slide--4__letter {
    background-size: cover; }
  .slide--5__darkbg {
    background-size: cover;
    background-position: center top; }
  .slide--5__letter {
    background-size: cover;
    background-position: center top; }
  .slide--5__darkbg {
    background-size: cover; }
  .slide--5__letter {
    background-size: cover; }
  .slide--5__darkbg {
    background-size: cover;
    background-position: center top; }
  .slide--5__letter {
    background-size: cover;
    background-position: center top; } }

* {
  box-sizing: border-box; }

ul.react-tabs__tab-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  ul.react-tabs__tab-list .tab__header {
    font-size: 24px;
    letter-spacing: 4px;
    flex: 1; }

.react-tabs__tab--selected {
  text-shadow: none; }

.react-tabs__tab-panel {
  display: flex;
  justify-content: center; }

.wrapper {
  width: 80vw;
  max-width: 1000px;
  padding: 10px;
  height: 70vh;
  overflow: auto; }
  .wrapper div {
    font-size: 14px !important;
    text-transform: none !important;
    letter-spacing: 1px !important;
    text-shadow: none;
    font-weight: 500; }
  .wrapper .ticket__link {
    font-size: 14px;
    color: white;
    text-shadow: none;
    letter-spacing: 1px;
    text-decoration: underline;
    word-break: break-word; }
  .wrapper .venue__link {
    font-size: 14px !important;
    text-transform: none !important;
    letter-spacing: 1px !important;
    text-decoration: underline;
    text-shadow: none;
    font-weight: 500; }

.is-striped {
  background-color: rgba(233, 200, 147, 0.2); }

.sk-logo__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10;
  position: absolute;
  bottom: -55px; }

/* Table column sizing
================================== */
.date-cell {
  width: 20%; }

.topic-cell {
  width: 40%; }

.access-link-cell {
  width: 20%; }

.replay-link-cell {
  width: 20%; }

span {
  font-size: 14px !important; }

/* Apply styles
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5); }
  .Rtable .Rtable-row {
    width: 100%;
    display: flex; }
    .Rtable .Rtable-row .Rtable-cell {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 0.8em 1.2em;
      overflow: hidden;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      .Rtable .Rtable-row .Rtable-cell.column-heading {
        background-color: #2678FC;
        color: white;
        padding: 1em; }
      .Rtable .Rtable-row .Rtable-cell .Rtable-cell--heading {
        display: none; }
      .Rtable .Rtable-row .Rtable-cell .Rtable-cell--content .webinar-date {
        font-weight: 700; }

/* Responsive
==================================== */
@media all and (max-width: 750px) {
  ul.react-tabs__tab-list .tab__header {
    font-size: 14px; }
  .is-striped {
    background: rgba(0, 0, 0, 0.5); }
  .sk-logo__wrapper {
    bottom: 79vh; }
  .Rtable {
    background: transparent; }
  .Rtable--collapse {
    display: block;
    width: 100%;
    padding: 1em;
    box-shadow: none; }
    .Rtable--collapse .Rtable-row {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2em;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.5); }
      .Rtable--collapse .Rtable-row .Rtable-cell {
        width: 100% !important;
        display: flex;
        align-items: center; }
        .Rtable--collapse .Rtable-row .Rtable-cell .Rtable-cell--heading {
          display: inline-block;
          flex: 1;
          max-width: 120px;
          min-width: 120px;
          font-weight: 700;
          border-right: 1px solid #ccc;
          margin-right: 1em; }
        .Rtable--collapse .Rtable-row .Rtable-cell .Rtable-cell--content {
          flex: 2;
          padding-left: 1em; }
    .Rtable--collapse .topic-cell {
      background-color: #2678FC;
      color: white !important;
      font-weight: 700;
      order: -1; }
      .Rtable--collapse .topic-cell .Rtable-cell--content {
        padding-left: 0 !important; }
    .Rtable--collapse .Rtable-row--head {
      display: none; } }

.no-flexbox .Rtable {
  display: block; }
  .no-flexbox .Rtable.Rtable-cell {
    width: 100%; }

@media (min-width: 500px) {
  .sm-hide {
    display: none; } }

@media (min-width: 1025px) {
  .md-hide {
    display: none; } }

@media (min-width: 1025px) {
  .lg-hide {
    display: none; } }

@media (min-width: 2000px) {
  .xl-hide {
    display: none; } }

.clr-dark {
  color: #121f27 !important; }

.clr-gray {
  color: #bbbbbb !important; }

.clr-light {
  color: #ffffff !important; }

.clr-purple {
  color: #7f4fff !important; }

.clr-red {
  color: #ff0505 !important; }

.bg-clr-dark {
  background-color: #121f27 !important; }

.bg-clr-gray {
  background-color: #bbbbbb !important; }

.bg-clr-light {
  background-color: #ffffff !important; }

.bg-clr-purple {
  background-color: #7f4fff !important;
  color: #ffffff !important; }

.bg-clr-red {
  background-color: #ff0505 !important; }

.audioplayer__container {
  opacity: 0.85; }

.b2 {
  border-width: 2px; }

header {
  background-image: linear-gradient(45deg, var(--teal), rgba(0, 255, 127, 0.7));
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); }

h2 a:hover {
  text-decoration: none; }

.social-buttons {
  position: absolute;
  top: 1rem;
  left: 1rem; }

.semibold {
  font-weight: 600; }

.muted {
  opacity: 0.3; }

.btn-small.btn-square {
  padding: 0.25rem 0.3rem; }

.custom-track-bg::-webkit-slider-runnable-track {
  background-color: rgba(0, 0, 0, 0.25); }

.custom-track-bg::-moz-range-track {
  background-color: rgba(0, 0, 0, 0.25); }

.custom-track-bg::-ms-track {
  background-color: rgba(0, 0, 0, 0.25); }

.custom-track-bg::-moz-range-thumb {
  background: #fff; }

.custom-track-bg::-webkit-slider-thumb {
  background: #fff; }

.custom-track-bg::-ms-thumb {
  background: #fff; }

:root {
  --font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --container-width: 820px;
  --yellow: rgba(255, 220, 0, 0.45);
  --orange: $color-bluest-greenest;
  --button-line-height: 1;
  --sb-progress-height: 8px;
  --button-big-padding-x: 1.25rem;
  --button-big-padding-y: 1.25rem; }

.sb-soundplayer-btn {
  display: inline-block;
  background-color: transparent;
  color: var(--sb-btn-color);
  font-size: 1em;
  padding: 1rem;
  margin: 0;
  height: auto;
  vertical-align: middle;
  border-radius: 3px;
  text-decoration: none;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: transform, box-shadow, 0.05s ease;
  box-sizing: border-box;
  -webkit-appearance: none; }

.sb-soundplayer-btn:hover {
  transform: scale(1.0625); }

.sb-soundplayer-btn:focus {
  transform: scale(0.9375); }

.sb-soundplayer-btn:active {
  box-shadow: inset 0 0 0 2px var(--sb-btn-color); }

.sb-soundplayer-btn:hover,
.sb-soundplayer-btn:focus {
  box-shadow: none; }

:root {
  --sb-btn-color: #43c6cc; }

.sb-soundplayer-cover {
  color: #fff;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 30px 20px 30px;
  margin-bottom: 20px;
  height: 440px;
  position: relative;
  overflow: hidden;
  cursor: default;
  border-radius: 2px; }

.sb-soundplayer-cover:after {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.35));
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.sb-soundplayer-cover .sb-soundplayer-info-box {
  display: inline-block;
  background-color: var(--sb-cover-info-bg);
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 1px; }

.sb-soundplayer-cover .sb-soundplayer-track {
  font-weight: 600;
  font-size: 24px; }

.sb-soundplayer-cover .sb-soundplayer-artist {
  font-size: 18px; }

.sb-soundplayer-cover-logo {
  color: var(--sb-cover-logo-color);
  width: 100px;
  height: 14px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2; }

:root {
  --sb-cover-info-bg: rgba(0, 0, 0, 0.8);
  --sb-cover-logo-color: rgba(255, 255, 255, 0.9); }

.sb-soundplayer-icon {
  width: 1em;
  height: 1em;
  position: relative;
  vertical-align: middle; }

.sb-soundplayer-progress-container {
  background-color: var(--sb-progress-bg-color);
  width: 100%;
  height: var(--sb-progress-height);
  overflow: hidden;
  cursor: pointer; }

.sb-soundplayer-progress-inner {
  background-color: var(--sb-progress-color);
  height: 100%;
  transition: width 0.2s ease-in; }

:root {
  --sb-progress-color: #43c6cc;
  --sb-progress-bg-color: #000;
  --sb-progress-height: 10px; }

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center; }

/*//////////////////// SEEK BARS ////////////////////*/
.seek {
  -webkit-appearance: none;
  border: 1px solid white;
  display: block;
  width: 90%;
  height: 10px;
  margin: auto;
  margin-top: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: gray;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.6); }

.seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #80e4df;
  /* Old browsers */
  background: -webkit-linear-gradient(#55eff7 0%, #44def6 13%, #33cde5 33%, #22bcd4 47%, #11abc3 80%, #009ab2 100%);
  background: -moz-linear-gradient(#55eff7 0%, #44def6 13%, #33cde5 33%, #22bcd4 47%, #11abc3 80%, #009ab2 100%);
  background: -o-linear-gradient(#55eff7 0%, #44def6 13%, #33cde5 33%, #22bcd4 47%, #11abc3 80%, #009ab2 100%);
  background: linear-gradient(#55eff7 0%, #44def6 13%, #33cde5 33%, #22bcd4 47%, #11abc3 80%, #009ab2 100%);
  /* W3C */ }

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  border: none;
  border-radius: 3px; }

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px; }

.audioplayer__container {
  width: 100%;
  height: auto; }

@media (min-width: 768px) {
  .audioplayer__container {
    width: 70%; } }

@media (min-width: 500px) {
  .sm-hide {
    display: none; } }

@media (min-width: 1025px) {
  .md-hide {
    display: none; } }

@media (min-width: 1025px) {
  .lg-hide {
    display: none; } }

@media (min-width: 2000px) {
  .xl-hide {
    display: none; } }

.sliding-menu {
  position: absolute;
  top: 0px;
  left: -240px;
  display: flex;
  flex-flow: column nowrap;
  width: 240px;
  height: 100vh;
  padding: 8px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 1.5em;
  z-index: 999; }
  .sliding-menu button {
    background-color: #000000;
    display: inline-block;
    border: none;
    text-align: left; }

.main-container {
  width: 100%;
  background-color: #000000; }
  .main-container > button {
    background-color: #000000;
    color: #FFFFFF; }

.slide-menu {
  left: 0px; }

.header2 {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  border: 0;
  box-shadow: none; }
  .header2 button {
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin-left: 20px; }
    .header2 button:focus {
      outline: none; }
  .header2__menu {
    display: none;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    list-style-type: none;
    justify-content: space-around; }
  .header2__drawer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none; }
    .header2__drawer__menu li {
      margin: 15px; }

@media (min-width: 768px) {
  .sliding-menu {
    display: none; }
  .header2 {
    flex-direction: row; }
    .header2 button {
      display: none; }
    .header2__menu {
      display: flex; } }

.fa {
  font-size: 26px; }
  .fa-close {
    align-self: flex-end;
    float: right;
    margin: 10px; }

li a {
  color: white;
  font-size: 26px;
  text-decoration: none;
  text-shadow: 1px 1px black; }
  li a:hover {
    text-shadow: 2px 2px black;
    text-decoration: underline; }

.container {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  background: #aaa;
  color: #222;
  display: flex;
  flex-direction: column;
  overflow: auto; }

/* Cards */
.card__row {
  padding: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 275px;
  margin: 1rem;
  position: relative;
  width: 250px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  display: none; }

.card h1 {
  position: relative;
  padding: 190px 0px 100px 10px;
  width: 90%; }

.card > img {
  width: 90%; }

p {
  line-height: 1.5;
  font-size: 18px; }

/* The cover (expanding background) */
.cover {
  position: fixed;
  z-index: 100;
  transform-origin: 50% 50%; }

/* The open page content */
.open-content {
  z-index: 110;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  padding: 60px 20px;
  width: 75%;
  left: 12.5%;
  background-color: white;
  height: 100vh;
  overflow: auto; }

.open-content img {
  width: 50%;
  float: left;
  z-index: 5;
  margin-right: 5%; }

.open-content .text h1, .open-content .text p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0; }

.close-content {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
  cursor: pointer; }

.close-content span {
  background: #222;
  width: 20px;
  height: 4px;
  display: block;
  position: absolute;
  top: 14px; }

.x-1 {
  transform: rotate(45deg); }

.x-2 {
  transform: rotate(-45deg); }

/* 
** Transitions
*/
.card {
  transition: all 200ms linear 320ms, transform 200ms ease-out 320ms; }

.border {
  transition: opacity 200ms linear, transform 200ms ease-out; }

.card img {
  transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms; }

.card h1 {
  transform: translate3d(20%, 0px, 0px);
  transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms; }

/* Clicked card */
.card.clicked img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0; }

.card.clicked .border {
  opacity: 0;
  transform: scale(1.3); }

.card.out, .card.out img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0; }

.card.out h1, .card.clicked h1 {
  transform: translate3d(20%, -40px, 0px);
  opacity: 0; }

.cover {
  transition: transform 300ms ease-in-out; }

.open-content {
  transition: opacity 200ms linear 0ms; }

.open-content.open {
  opacity: 1;
  pointer-events: all;
  transition-delay: 1000ms; }

/* 
** Media Queries
*/
@media screen and (max-width: 600px) {
  .container {
    align-items: center; }
  .card {
    width: 300px;
    height: 325px; }
    .card__row {
      display: block; }
    .card-color-1 {
      margin-bottom: 0; }
    .card-color-2 {
      margin-top: 5px; }
  .column-1 {
    padding-top: 0px; }
  .open-content {
    padding: 40px 20px;
    left: 0;
    width: 100%; }
    .open-content img {
      margin-top: 10px; } }
