@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");
@media (min-width: 500px) {
  .sm-hide {
    display: none; } }

@media (min-width: 1025px) {
  .md-hide {
    display: none; } }

@media (min-width: 1025px) {
  .lg-hide {
    display: none; } }

@media (min-width: 2000px) {
  .xl-hide {
    display: none; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.8; }
  50% {
    -webkit-transform: scale(1.1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.8; } }

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8; }
  50% {
    transform: scale(1.1);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0.8; } }

body {
  -webkit-font-smoothing: antialiased; }

.main-container {
  overflow: hidden; }

.more__info__badge {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px;
  font-size: 20px;
  align-self: flex-end;
  -webkit-animation: pulse 3s infinite ease-in-out;
  -o-animation: pulse 3s infinite ease-in-out;
  -ms-animation: pulse 3s infinite ease-in-out;
  -moz-animation: pulse 3s infinite ease-in-out;
  animation: pulse 3s infinite ease-in-out; }

h2.section__header {
  color: white;
  font-size: 36px; }

.section__content__wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center; }

.tour-list {
  overflow: scroll; }

p.section__content {
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 1px black;
  max-width: 95vw; }

.contact-card {
  width: 300px;
  height: 100%;
  padding: 40px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center; }

.about__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3; }

.music__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3; }
  .music__container .player__info {
    width: '100%';
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    align-items: 'center';
    padding-top: 35; }

.gallery__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3; }

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  color: white;
  z-index: 3; }

.bio-card {
  width: 100%;
  padding: 10%;
  padding-top: 5px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

a {
  text-decoration: none;
  color: #fff; }

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1% 0 1% 0; }

._12 {
  font-size: 1.2em; }

._14 {
  font-size: 1.4em; }

ul {
  padding: 0;
  list-style: none; }

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  width: 100%; }

.social-icon {
  color: #fff; }

ul.social-icons {
  margin-top: 10px; }

.social-icons li {
  height: 100px;
  width: 50px;
  display: flex;
  justify-content: center; }

.social-icons a {
  color: #fff;
  text-decoration: none;
  width: 100%; }
  .social-icons a:hover {
    text-decoration: none; }

.fa {
  font-size: 20px;
  border-radius: 3px;
  width: 100%;
  display: flex;
  justify-content: center; }

.fa-facebook {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30; }

.fa-facebook:hover {
  background-color: #3d5b99; }

.fa-instagram {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #322f30; }

.fa-instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }

.fa-twitter {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30; }

.fa-twitter:hover {
  background-color: #00aced; }

.fa-rss {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30; }

.fa-rss:hover {
  background-color: #eb8231; }

.fa-youtube {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30; }

.fa-youtube:hover {
  background-color: #e64a41; }

.cont {
  position: relative;
  height: 100vh;
  overflow: hidden; }

.slide__darkbg {
  position: absolute;
  width: 100%;
  height: calc(100vw * (3456 / 5184));
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
  z-index: 10; }

.slide__text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10; }

.slide__letter {
  position: absolute;
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  font-size: 44vw;
  font-weight: 800;
  color: #000;
  z-index: 2;
  will-change: transform;
  user-select: none; }

.slide__text {
  font-size: 8vw;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  letter-spacing: 12px;
  color: #fff;
  will-change: transform;
  user-select: none;
  text-shadow: 2px 2px black;
  text-align: center; }
  .slide__text--2 {
    font-size: 2vw; }
    .slide__text--2--container {
      padding: 10px; }
    .slide__text--2--name {
      font-size: 5vw;
      letter-spacing: 15px;
      margin: 10px 0; }

.slide__text:nth-child(odd) {
  z-index: 2; }

.slide__text:nth-child(even) {
  z-index: 2; }

.slide--1__darkbg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform; }
  .slide--1__darkbg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }

.slide--1__letter {
  background: url("../assets/Old_Sport_38.jpg") center center no-repeat;
  background-position: center;
  background-size: contain; }

.slide--1__letter {
  padding-top: calc(100vh / 2 - 26vw); }

.slide--2__letter {
  padding-top: calc(100vh / 2 - 25vw);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.4); }

.slide--3__darkbg:after {
  background-color: rgba(250, 250, 250, 0.1); }

.slide--3__letter {
  padding-top: calc(100vh / 2 - 15vw); }

.slide--4__letter {
  font-size: 30vw;
  padding-top: calc(100vh / 2 - 15vw); }

.slide--4__darkbg:after {
  background-color: rgba(250, 250, 250, 0.15); }

.slide--5__letter {
  padding-top: calc(100vh / 2 - 10vw); }

.slide--5__darkbg:after {
  background-color: rgba(75, 75, 75, 0.35); }

.slide--2__darkbg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform; }
  .slide--2__darkbg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }

.slide--2__letter {
  background: url("../assets/Old_Sport_19.jpg") center center no-repeat;
  background-position: center;
  background-size: contain; }

.slide--1__letter {
  padding-top: calc(100vh / 2 - 26vw); }

.slide--2__letter {
  padding-top: calc(100vh / 2 - 25vw);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.4); }

.slide--3__darkbg:after {
  background-color: rgba(250, 250, 250, 0.1); }

.slide--3__letter {
  padding-top: calc(100vh / 2 - 15vw); }

.slide--4__letter {
  font-size: 30vw;
  padding-top: calc(100vh / 2 - 15vw); }

.slide--4__darkbg:after {
  background-color: rgba(250, 250, 250, 0.15); }

.slide--5__letter {
  padding-top: calc(100vh / 2 - 10vw); }

.slide--5__darkbg:after {
  background-color: rgba(75, 75, 75, 0.35); }

.slide--3__darkbg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform; }
  .slide--3__darkbg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }

.slide--3__letter {
  background: url("../assets/Old_Sport_32.jpg") center center no-repeat;
  background-position: center;
  background-size: contain; }

.slide--1__letter {
  padding-top: calc(100vh / 2 - 26vw); }

.slide--2__letter {
  padding-top: calc(100vh / 2 - 25vw);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.4); }

.slide--3__darkbg:after {
  background-color: rgba(250, 250, 250, 0.1); }

.slide--3__letter {
  padding-top: calc(100vh / 2 - 15vw); }

.slide--4__letter {
  font-size: 30vw;
  padding-top: calc(100vh / 2 - 15vw); }

.slide--4__darkbg:after {
  background-color: rgba(250, 250, 250, 0.15); }

.slide--5__letter {
  padding-top: calc(100vh / 2 - 10vw); }

.slide--5__darkbg:after {
  background-color: rgba(75, 75, 75, 0.35); }

.slide--4__darkbg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform; }
  .slide--4__darkbg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }

.slide--4__letter {
  background: url("../assets/_DSC3855.jpg") center center no-repeat;
  background-position: center;
  background-size: contain; }

.slide--1__letter {
  padding-top: calc(100vh / 2 - 26vw); }

.slide--2__letter {
  padding-top: calc(100vh / 2 - 25vw);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.4); }

.slide--3__darkbg:after {
  background-color: rgba(250, 250, 250, 0.1); }

.slide--3__letter {
  padding-top: calc(100vh / 2 - 15vw); }

.slide--4__letter {
  font-size: 30vw;
  padding-top: calc(100vh / 2 - 15vw); }

.slide--4__darkbg:after {
  background-color: rgba(250, 250, 250, 0.15); }

.slide--5__letter {
  padding-top: calc(100vh / 2 - 10vw); }

.slide--5__darkbg:after {
  background-color: rgba(75, 75, 75, 0.35); }

.slide--5__darkbg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform; }
  .slide--5__darkbg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }

.slide--5__letter {
  background: url("../assets/Old_Sport_14.jpg") center center no-repeat;
  background-position: center;
  background-size: contain; }

.slide--1__letter {
  padding-top: calc(100vh / 2 - 26vw); }

.slide--2__letter {
  padding-top: calc(100vh / 2 - 25vw);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.4); }

.slide--3__darkbg:after {
  background-color: rgba(250, 250, 250, 0.1); }

.slide--3__letter {
  padding-top: calc(100vh / 2 - 15vw); }

.slide--4__letter {
  font-size: 30vw;
  padding-top: calc(100vh / 2 - 15vw); }

.slide--4__darkbg:after {
  background-color: rgba(250, 250, 250, 0.15); }

.slide--5__letter {
  padding-top: calc(100vh / 2 - 10vw); }

.slide--5__darkbg:after {
  background-color: rgba(75, 75, 75, 0.35); }

.banner__fallback {
  height: 100vh;
  width: 100vw;
  background: url("../assets/banner-fallback.jpg") no-repeat center center;
  background-size: contain; }

.nav {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  list-style-type: none;
  z-index: 2; }
  .nav__slide {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    cursor: default !important; }
    @media screen and (max-width: 400px) {
      .nav__slide {
        width: 22px;
        height: 22px; } }
    .nav__slide:focus:after {
      opacity: 0; }
    .nav__slide:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0, 0);
      transform: translate(-50%, -50%) scale(0, 0);
      width: 75%;
      height: 75%;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      transition: 300ms; }
    .nav__slide--1 {
      margin-left: 0; }

.nav-active:after {
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1; }

.side-nav {
  position: absolute;
  width: 5%;
  height: 100%;
  top: 0;
  z-index: 2;
  cursor: default !important;
  opacity: 0;
  transition: 300ms;
  display: none;
  align-items: center;
  justify-content: center; }
  .side-nav span {
    font-size: 36px;
    color: white; }
  .side-nav:hover {
    opacity: .3; }
  .side-nav--right {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eed7ff 100%); }
  .side-nav--left {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #eed7ff 100%); }

[class^="swiper-button-"] {
  transition: all .3s ease; }

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.swiper-container {
  width: 100vw;
  height: 100vh;
  float: left;
  transition: opacity .6s ease, transform .3s ease; }
  .swiper-container.nav-slider {
    width: 20%;
    padding-left: 5px; }
    .swiper-container.nav-slider .swiper-slide {
      cursor: default !important;
      opacity: .4;
      transition: opacity .3s ease; }
      .swiper-container.nav-slider .swiper-slide.swiper-slide-active {
        opacity: 1; }
      .swiper-container.nav-slider .swiper-slide .content {
        width: 100%; }
  .swiper-container:hover .swiper-button-prev,
  .swiper-container:hover .swiper-button-next {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible; }
  .swiper-container.loading {
    opacity: 0;
    visibility: hidden; }

.swiper-slide {
  overflow: hidden; }
  .swiper-slide .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .swiper-slide .entity-img {
    display: none; }
  .swiper-slide .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; }
    .swiper-slide .content .title {
      font-weight: bold; }
    .swiper-slide .content .caption {
      display: flex;
      font-size: 13px;
      line-height: 1.4;
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      opacity: 0;
      transition: opacity .3s ease, transform .7s ease; }
      .swiper-slide .content .caption.show {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1; }

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  display: none; }

.swiper-button-prev {
  -webkit-transform: translateX(50px);
  transform: translateX(50px); }

.swiper-button-next {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px); }

@media (min-width: 768px) {
  .music__container {
    padding: 5%;
    position: relative; }
    .music__container .player__info {
      padding: 50px 0 35px; }
  .bio-card {
    height: 100vh;
    padding: 10%; }
    .bio-card .section__content {
      font-size: 2vw !important;
      margin: 0;
      padding: 0; }
  .side-nav {
    display: flex; }
  .slide--1__darkbg {
    background-size: cover; }
  .slide--1__letter {
    background-size: cover; }
  .slide__letter {
    background-size: cover; }
  .slide--4__letter {
    font-size: 30vw; }
  .slide--5__darkbg {
    background-size: cover;
    background-position: center top; }
  .slide--5__letter {
    background-size: cover;
    background-position: center top; }
  .slide--2__darkbg {
    background-size: cover; }
  .slide--2__letter {
    background-size: cover; }
  .slide__letter {
    background-size: cover; }
  .slide--4__letter {
    font-size: 30vw; }
  .slide--5__darkbg {
    background-size: cover;
    background-position: center top; }
  .slide--5__letter {
    background-size: cover;
    background-position: center top; }
  .slide--3__darkbg {
    background-size: cover; }
  .slide--3__letter {
    background-size: cover; }
  .slide__letter {
    background-size: cover; }
  .slide--4__letter {
    font-size: 30vw; }
  .slide--5__darkbg {
    background-size: cover;
    background-position: center top; }
  .slide--5__letter {
    background-size: cover;
    background-position: center top; }
  .slide--4__darkbg {
    background-size: cover; }
  .slide--4__letter {
    background-size: cover; }
  .slide__letter {
    background-size: cover; }
  .slide--4__letter {
    font-size: 30vw; }
  .slide--5__darkbg {
    background-size: cover;
    background-position: center top; }
  .slide--5__letter {
    background-size: cover;
    background-position: center top; }
  .slide--5__darkbg {
    background-size: cover; }
  .slide--5__letter {
    background-size: cover; }
  .slide__letter {
    background-size: cover; }
  .slide--4__letter {
    font-size: 30vw; }
  .slide--5__darkbg {
    background-size: cover;
    background-position: center top; }
  .slide--5__letter {
    background-size: cover;
    background-position: center top; }
  .slide__text--2--name {
    font-size: 7vw; }
  .slide__darkbg {
    height: 100%;
    top: 0; }
  .swiper-slide .slide-bgimg {
    background-size: cover;
    background-repeat: no-repeat; }
    .swiper-slide .slide-bgimg--5 {
      background-position: center top; }
  [class^="swiper-button-"] {
    visibility: visible;
    display: block; }
  .nav__slide:hover:after {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1; } }
