@media (min-width: 500px) {
  .sm-hide {
    display: none; } }

@media (min-width: 1025px) {
  .md-hide {
    display: none; } }

@media (min-width: 1025px) {
  .lg-hide {
    display: none; } }

@media (min-width: 2000px) {
  .xl-hide {
    display: none; } }

.music-slide__artist-links__container {
  width: 90vw;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px; }
  .music-slide__artist-links__container .spotify__artist {
    border: 'none';
    align-self: center;
    margin-left: 20;
    width: 50%; }

.music-slide .playlist__container {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

@media (min-width: 768px) {
  .music-slide__artist-links__container {
    width: 70%;
    flex-direction: row;
    justify-content: space-between; }
    .music-slide__artist-links__container .spotify__artist {
      width: 30%; } }
