.social {
  &__container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 100vw;
    z-index: 1;
  }
  &-icon__list {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    li {
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          text-decoration: none;
        }
      }

      .fa {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      }
      .fa-facebook {
        background-color: #3d5b99;
      }
      .fa-instagram {
        background:
          /////// Use radial gradients to get the rounded
          /////// gradient effect in each corner
      
          // left bottom
          radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
          radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
          // left top
          radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
          radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
          //  right top
          radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
          radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
          // right bottom
          radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
      
          /////// create a base coat to smooth
          /////// corner gradients
          linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
      }
      .fa-twitter {
        background-color: #00aced;
      }
      .fa-youtube {
        background-color: #e64a41;
      }
    }
  }
}