$breakpoint: 750px;
$heading-color: #2678FC;

* {
  box-sizing: border-box;
}

.react-tabs {
  height: 70vh;
}

ul.react-tabs__tab-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .tab__header {
    font-size: 24px;
    // font-size: 16px;
    letter-spacing: 4px;
    flex: 1;
  }
}

.react-tabs__tab--selected {
  text-shadow: none;
}

.react-tabs__tab-panel {
  display: flex;
  justify-content: center;
}

.tour-list__wrapper {
  width: 90vw;
  padding: 10px;
  max-height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  div {
    font-size: 14px !important;
    text-transform: none !important;
    letter-spacing: 1px !important;
    text-shadow: none;
    font-weight: 500;
  }

  .ticket__link {
    font-size: 14px;
    color: white;
    text-shadow: none;
    letter-spacing: 1px;
    text-decoration: underline;
    word-break: break-word;
  }

  .venue__link {
    font-size: 14px !important;
    text-transform: none !important;
    letter-spacing: 1px !important;
    text-decoration: underline;
    text-shadow: none;
    font-weight: 500;
  }
}


.is-striped { background-color: rgba(233,200,147,0.2) }

.sk-logo__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10;
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 15;
}


/* Table column sizing
================================== */
.date-cell  { width: 20%; }
.topic-cell  { width: 40%; }
.access-link-cell  { width: 20%; }
.replay-link-cell  { width: 20%; }
// .pdf-cell  { width: 13%; }

span {
  font-size: 14px;
}

/* Apply styles
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  // margin: 0 0 3em 0;
  padding: 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.5);
  .Rtable-row {
    width: 100%;
    display: flex;
    
    .Rtable-cell {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 0.8em 1.2em;
      overflow: hidden; // Or flex might break
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;

      &.column-heading {
        background-color: $heading-color;
        color: white;
        padding: 1em;
      }

      .Rtable-cell--heading {
        display: none;
      }

      .Rtable-cell--content {
        a {
          // font-size: 24m;
          // color: #333;
        }
        
        .webinar-date {
          font-weight: 700;
        }
      }
    }
  }
}

/* Responsive
==================================== */
@media all and (max-width: $breakpoint) {
  // .tour-list__wrapper {
  //   max-width: '100%';
  // }
  .sk-logo__wrapper {
    bottom: 80px;
  }

  ul.react-tabs__tab-list {
    .tab__header {
      font-size: 14px;
    }
  }
  .is-striped {
    // background-color: white;
    background: rgba(0,0,0,0.5);
  }

  .Rtable {
    background: transparent;
  }

  .Rtable--collapse  {
    display: block;
    width: 100%;
    padding: 1em;
    box-shadow: none;
    
    .Rtable-row {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2em;
      box-shadow: 0 0 40px rgba(0,0,0,0.2);
      background: rgba(0,0,0,0.5);
      
      .Rtable-cell {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .Rtable-cell--heading {
          display: inline-block;
          flex: 1;
          max-width: 120px;
          min-width: 120px;
          // color: $heading-color;
          font-weight: 700;
          border-right: 1px solid #ccc;
          margin-right: 1em;
        }

        .Rtable-cell--content {
          flex: 2;
          padding-left: 1em;
        }
      }
    }
    
    .topic-cell {
      background-color: $heading-color;
      color: white !important;
      font-weight: 700;
      order: -1;
      
      .Rtable-cell--content {
        padding-left: 0 !important;
      }
    }
    .Rtable-row--head {
      display: none;
    }
  }
}

// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  display: block;
  
  &.Rtable-cell {
    width: 100%;
  }
}