* {
  box-sizing: border-box; }

.react-tabs {
  height: 70vh; }

ul.react-tabs__tab-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  ul.react-tabs__tab-list .tab__header {
    font-size: 24px;
    letter-spacing: 4px;
    flex: 1; }

.react-tabs__tab--selected {
  text-shadow: none; }

.react-tabs__tab-panel {
  display: flex;
  justify-content: center; }

.tour-list__wrapper {
  max-width: 80vw;
  padding: 10px;
  max-height: 70vh;
  overflow: auto; }
  .tour-list__wrapper div {
    font-size: 14px !important;
    text-transform: none !important;
    letter-spacing: 1px !important;
    text-shadow: none;
    font-weight: 500; }
  .tour-list__wrapper .ticket__link {
    font-size: 14px;
    color: white;
    text-shadow: none;
    letter-spacing: 1px;
    text-decoration: underline;
    word-break: break-word; }
  .tour-list__wrapper .venue__link {
    font-size: 14px !important;
    text-transform: none !important;
    letter-spacing: 1px !important;
    text-decoration: underline;
    text-shadow: none;
    font-weight: 500; }

.is-striped {
  background-color: rgba(233, 200, 147, 0.2); }

.sk-logo__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10;
  position: absolute;
  bottom: -55px; }

/* Table column sizing
================================== */
.date-cell {
  width: 20%; }

.topic-cell {
  width: 40%; }

.access-link-cell {
  width: 20%; }

.replay-link-cell {
  width: 20%; }

span {
  font-size: 14px !important; }

/* Apply styles
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5); }
  .Rtable .Rtable-row {
    width: 100%;
    display: flex; }
    .Rtable .Rtable-row .Rtable-cell {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 0.8em 1.2em;
      overflow: hidden;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      .Rtable .Rtable-row .Rtable-cell.column-heading {
        background-color: #2678FC;
        color: white;
        padding: 1em; }
      .Rtable .Rtable-row .Rtable-cell .Rtable-cell--heading {
        display: none; }
      .Rtable .Rtable-row .Rtable-cell .Rtable-cell--content .webinar-date {
        font-weight: 700; }

/* Responsive
==================================== */
@media all and (max-width: 750px) {
  .tour-list__wrapper {
    max-width: '100%'; }
  ul.react-tabs__tab-list .tab__header {
    font-size: 14px; }
  .is-striped {
    background: rgba(0, 0, 0, 0.5); }
  .sk-logo__wrapper {
    bottom: 79vh; }
  .Rtable {
    background: transparent; }
  .Rtable--collapse {
    display: block;
    width: 100%;
    padding: 1em;
    box-shadow: none; }
    .Rtable--collapse .Rtable-row {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2em;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.5); }
      .Rtable--collapse .Rtable-row .Rtable-cell {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        .Rtable--collapse .Rtable-row .Rtable-cell .Rtable-cell--heading {
          display: inline-block;
          flex: 1;
          max-width: 120px;
          min-width: 120px;
          font-weight: 700;
          border-right: 1px solid #ccc;
          margin-right: 1em; }
        .Rtable--collapse .Rtable-row .Rtable-cell .Rtable-cell--content {
          flex: 2;
          padding-left: 1em; }
    .Rtable--collapse .topic-cell {
      background-color: #2678FC;
      color: white !important;
      font-weight: 700;
      order: -1; }
      .Rtable--collapse .topic-cell .Rtable-cell--content {
        padding-left: 0 !important; }
    .Rtable--collapse .Rtable-row--head {
      display: none; } }

.no-flexbox .Rtable {
  display: block; }
  .no-flexbox .Rtable.Rtable-cell {
    width: 100%; }
